@model IEnumerable<BazaZaginionych.Models.ZaginieniModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
			<th>
				Zdjecie
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Imie)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nazwisko)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Opis)
			</td>
			<td>
				<img src="@("~/img/"+item.ImageName)" asp-append-version="true" width="40px" height="40px" />
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.id">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
